# For MTK DRM integration:
# service teei_daemon /sbin/teei_daemon -r 07170000000000000000000000000000 -r 020f0000000000000000000000000000 -r 05120000000000000000000000000000 -r 070b0000000000000000000000000000 -r 020b0000000000000000000000000000 -r 05070000000000000000000000000000 -r 030b0000000000000000000000000000 -r 030c0000000000000000000000000000 -r 07070000000000000000000000000000 -r 5020170115e016302017012521300000 -r 40188311faf343488db888ad39496f9a

# For Microtrust internal development
service teei_daemon /sbin/teei_daemon
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    # oneshot

on boot
    chown system system /sys/bus/platform/devices/utos/dcih_notify_test
    chown system system /sys/bus/platform/devices/utos/dcih_wait_notify_test
    chown system system /sys/bus/platform/devices/utos/load_ut_drv
    chown system system /sys/bus/platform/devices/utos/unload_ut_drv
    chown system system /sys/bus/platform/devices/utos/notify_ree_dci_handler

#for All mode
on post-fs-data
    write /proc/bootprof "start teei cfg (on post fs data)"
    mkdir /data/vendor/thh
    mkdir /data/vendor/thh/system
    mkdir /data/vendor/thh/tee_00
    mkdir /data/vendor/thh/tee_01
    mkdir /data/vendor/thh/tee_02
    mkdir /data/vendor/thh/tee_03
    mkdir /data/vendor/thh/tee_04
    mkdir /data/vendor/thh/tee_05
    mkdir /data/vendor/thh/tee_06
    mkdir /data/vendor/thh/tee_07
    mkdir /data/vendor/thh/tee
    mkdir /data/vendor/thh/tee/tas
    mkdir /data/vendor/thh/tee_08
    mkdir /data/vendor/thh/tee_09
    mkdir /data/vendor/thh/tee_0A
    mkdir /data/vendor/thh/tee_0B
    mkdir /data/vendor/thh/tee_0C
    mkdir /data/vendor/thh/tee_0D
    mkdir /data/vendor/thh/tee_0E
    mkdir /data/vendor/thh/tee_0F
    mkdir /data/vendor/thh/ta
    chmod 0755 /data/vendor/thh
    chown system system /data/vendor/thh
    chmod 0755 /data/vendor/thh/tee_00
    chown system system /data/vendor/thh/tee_00
    chmod 0755 /data/vendor/thh/tee_01
    chown system system /data/vendor/thh/tee_01
    chmod 0755 /data/vendor/thh/tee_02
    chown system system /data/vendor/thh/tee_02
    chmod 0755 /data/vendor/thh/tee_03
    chown system system /data/vendor/thh/tee_03
    chmod 0755 /data/vendor/thh/tee_04
    chown system system /data/vendor/thh/tee_04
    chmod 0755 /data/vendor/thh/tee_05
    chown system system /data/vendor/thh/tee_05

    chmod 0755 /data/vendor/thh/tee_06
    chown system system /data/vendor/thh/tee_06
    chmod 0755 /data/vendor/thh/tee_07
    chown system system /data/vendor/thh/tee_07
    chmod 0755 /data/vendor/thh/tee
    chown system system /data/vendor/thh/tee
    chmod 0755 /data/vendor/thh/tee/tas
    chown system system /data/vendor/thh/tee/tas
    chmod 0755 /data/vendor/thh/tee_08
    chown system system /data/vendor/thh/tee_08
    chmod 0755 /data/vendor/thh/tee_09
    chown system system /data/vendor/thh/tee_09
    chmod 0755 /data/vendor/thh/tee_0A
    chown system system /data/vendor/thh/tee_0A
    chmod 0755 /data/vendor/thh/tee_0B
    chown system system /data/vendor/thh/tee_0B
    chmod 0755 /data/vendor/thh/tee_0C
    chown system system /data/vendor/thh/tee_0C
    chmod 0755 /data/vendor/thh/tee_0D
    chown system system /data/vendor/thh/tee_0D
    chmod 0755 /data/vendor/thh/tee_0E
    chown system system /data/vendor/thh/tee_0E
    chmod 0755 /data/vendor/thh/tee_0F
    chown system system /data/vendor/thh/tee_0F
    chmod 0755 /data/vendor/thh/ta
    chown system system /data/vendor/thh/ta
    chmod 0755 /data/vendor/thh/system
    chown system system /data/vendor/thh/system
    restorecon_recursive /data/vendor/thh
    write /proc/bootprof "start teei cfg end (on post-fs-data)"

on post-fs
    # Set /mnt/vendor/persist/rpmb
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    restorecon_recursive /mnt/vendor/persist

    mkdir /mnt/vendor/persist/rpmb
    chown system system /mnt/vendor/persist/rpmb
    chmod 0771 /mnt/vendor/persist/rpmb
    restorecon_recursive /mnt/vendor/persist/rpmb

    # Set other rpmb
    mkdir /persist/rpmb
    mkdir /vendor/persist/rpmb
    chmod 0771 /persist/rpmb
    chmod 0771 /vendor/persist/rpmb
    chown system system /persist/rpmb
    chown system system /vendor/persist/rpmb
    restorecon_recursive /persist
    restorecon_recursive /vendor/persist

on fs
    chmod 0660 /dev/teei_client
    chown system system /dev/teei_client
    chmod 0660 /dev/teei_config
    chown system system /dev/teei_config
    chmod 0660 /dev/tee0
    chown system keystore /dev/tee0
    chmod 0660 /dev/tz_vfs
    chown system system /dev/tz_vfs
    chmod 0660 /dev/teei_fp
    chown system /dev/teei_fp
    chown system keystore /dev/ut_keymaster
    chmod 0660 /dev/ut_keymaster
    # rpmb device
    chmod 0660 /dev/rpmb0
    chown system system /dev/rpmb0
    # legacy rpmb device for cross-platform compatibility
    chmod 0660 /dev/emmcrpmb0
    chown system system /dev/emmcrpmb0
    chown system system /dev/utr_tui
    chmod 0660 /dev/utr_tui
